# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.so

# Environments
venv/
env/
.venv/
.direnv/
.idea/

# Editor/OS Files
.DS_Store
Thumbs.db
*.swp
.vscode/

# Package Management (pip, setuptools, etc.)
pip-log.txt
pip-delete-this-directory.txt
build/
dist/
*.egg-info/
.installed.cfg

# Testing / Documentation
.tox/
.coverage
.pytest_cache/
htmlcov/
test-reports/

# Jupyter Notebook Files
.ipynb_checkpoints

# Configuration / Secrets
.env
.flaskenv
secrets.py